<header class="header-executive">
  <div class="header-container">
    <div class="header-logo">
      <a href="{{ "/" | relative_url }}">
      <span> <img src="/assets/images/logo.png" alt="logo" class="logo" width="95" height="95"></span>
      </a>
    </div>
    <nav class="header-nav">
      <ul>
        {% for item in site.data.navigation %}
          <li>
            {% if item.external %}
              <a href="{{ item.link }}" target="_blank" rel="noopener" class="nav-support-btn">
                {{ item.name }}
              </a>
            {% else %}
              <a href="{{ item.link | relative_url }}" class="{% if page.url == item.link %}active{% endif %}">
                {{ item.name }}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
    <div class="header-actions"></div>
  </div>
  <div class="mobile-nav" id="mobile-nav-panel">
    <ul>
      {% for item in site.data.navigation %}
        <li>
          {% if item.external %}
            <a href="{{ item.link }}" target="_blank" rel="noopener">
              {{ item.name }}
            </a>
          {% else %}
            <a href="{{ item.link | relative_url }}">
              {{ item.name }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
      <li><a href="{{ "/contact" | relative_url }}" class="btn btn--primary">Discutons de votre projet</a></li>
    </ul>
  </div>
</header>