{% comment %}
  Helper pour les traductions i18n

  Usage dans les templates :
  {% include i18n.html key="blog.read_more" %}

  Ou avec variable :
  {% assign t_key = "blog.title" %}
  {% include i18n.html key=t_key %}
{% endcomment %}

{% assign current_lang = page.lang | default: site.default_lang %}
{% assign translations = site.data.i18n[current_lang] %}

{% comment %} Parse la clé (supporte blog.read_more, nav.home, etc.) {% endcomment %}
{% assign key_parts = include.key | split: "." %}

{% if key_parts.size == 1 %}
  {{ translations[key_parts[0]] }}
{% elsif key_parts.size == 2 %}
  {{ translations[key_parts[0]][key_parts[1]] }}
{% elsif key_parts.size == 3 %}
  {{ translations[key_parts[0]][key_parts[1]][key_parts[2]] }}
{% endif %}
