{% comment %}
  Sélecteur de langue professionnel
  Version avec drapeaux SVG et design épuré
{% endcomment %}

{% assign current_lang = page.lang | default: site.default_lang %}

<div class="language-switcher-modern">
  {% comment %} Bouton de langue actuelle {% endcomment %}
  <button class="lang-current" aria-label="Change language / Changer de langue">
    {% if current_lang == 'fr' %}
      <svg class="flag-svg" viewBox="0 0 900 600" xmlns="http://www.w3.org/2000/svg">
        <rect width="900" height="600" fill="#ED2939"/>
        <rect width="600" height="600" fill="#fff"/>
        <rect width="300" height="600" fill="#002395"/>
      </svg>
      <span class="lang-label">FR</span>
    {% else %}
      <svg class="flag-svg" viewBox="0 0 60 30" xmlns="http://www.w3.org/2000/svg">
        <clipPath id="s"><path d="M0,0 v30 h60 v-30 z"/></clipPath>
        <clipPath id="t"><path d="M30,15 h30 v15 z v15 h-30 z h-30 v-15 z v-15 h30 z"/></clipPath>
        <g clip-path="url(#s)">
          <path d="M0,0 v30 h60 v-30 z" fill="#012169"/>
          <path d="M0,0 L60,30 M60,0 L0,30" stroke="#fff" stroke-width="6"/>
          <path d="M0,0 L60,30 M60,0 L0,30" clip-path="url(#t)" stroke="#C8102E" stroke-width="4"/>
          <path d="M30,0 v30 M0,15 h60" stroke="#fff" stroke-width="10"/>
          <path d="M30,0 v30 M0,15 h60" stroke="#C8102E" stroke-width="6"/>
        </g>
      </svg>
      <span class="lang-label">EN</span>
    {% endif %}
    <svg class="chevron" width="10" height="6" viewBox="0 0 10 6" fill="none">
      <path d="M1 1L5 5L9 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
    </svg>
  </button>

  {% comment %} Dropdown avec les langues disponibles {% endcomment %}
  <div class="lang-dropdown">
    {% comment %} Pour les articles de blog avec ref {% endcomment %}
    {% if page.ref and (page.collection == 'posts' or page.collection == 'posts_en') %}
      {% assign all_posts = site.posts | concat: site.posts_en %}
      {% assign has_translation = false %}

      {% for alt_post in all_posts %}
        {% if alt_post.ref == page.ref and alt_post.lang != current_lang %}
          {% assign has_translation = true %}
          <a href="{{ alt_post.url | relative_url }}"
             class="lang-option"
             hreflang="{{ alt_post.lang }}"
             title="{% if alt_post.lang == 'en' %}Read this article in English{% else %}Lire cet article en français{% endif %}">
            {% if alt_post.lang == 'en' %}
              <svg class="flag-svg" viewBox="0 0 60 30" xmlns="http://www.w3.org/2000/svg">
                <clipPath id="s2"><path d="M0,0 v30 h60 v-30 z"/></clipPath>
                <clipPath id="t2"><path d="M30,15 h30 v15 z v15 h-30 z h-30 v-15 z v-15 h30 z"/></clipPath>
                <g clip-path="url(#s2)">
                  <path d="M0,0 v30 h60 v-30 z" fill="#012169"/>
                  <path d="M0,0 L60,30 M60,0 L0,30" stroke="#fff" stroke-width="6"/>
                  <path d="M0,0 L60,30 M60,0 L0,30" clip-path="url(#t2)" stroke="#C8102E" stroke-width="4"/>
                  <path d="M30,0 v30 M0,15 h60" stroke="#fff" stroke-width="10"/>
                  <path d="M30,0 v30 M0,15 h60" stroke="#C8102E" stroke-width="6"/>
                </g>
              </svg>
              <span class="lang-name">English</span>
            {% else %}
              <svg class="flag-svg" viewBox="0 0 900 600" xmlns="http://www.w3.org/2000/svg">
                <rect width="900" height="600" fill="#ED2939"/>
                <rect width="600" height="600" fill="#fff"/>
                <rect width="300" height="600" fill="#002395"/>
              </svg>
              <span class="lang-name">Français</span>
            {% endif %}
          </a>
        {% endif %}
      {% endfor %}

      {% unless has_translation %}
        {% comment %} Pas de traduction disponible, lien vers homepage {% endcomment %}
        {% if current_lang == 'fr' %}
          <a href="/en/" class="lang-option" hreflang="en" title="Switch to English site">
            <svg class="flag-svg" viewBox="0 0 60 30" xmlns="http://www.w3.org/2000/svg">
              <clipPath id="s3"><path d="M0,0 v30 h60 v-30 z"/></clipPath>
              <clipPath id="t3"><path d="M30,15 h30 v15 z v15 h-30 z h-30 v-15 z v-15 h30 z"/></clipPath>
              <g clip-path="url(#s3)">
                <path d="M0,0 v30 h60 v-30 z" fill="#012169"/>
                <path d="M0,0 L60,30 M60,0 L0,30" stroke="#fff" stroke-width="6"/>
                <path d="M0,0 L60,30 M60,0 L0,30" clip-path="url(#t3)" stroke="#C8102E" stroke-width="4"/>
                <path d="M30,0 v30 M0,15 h60" stroke="#fff" stroke-width="10"/>
                <path d="M30,0 v30 M0,15 h60" stroke="#C8102E" stroke-width="6"/>
              </g>
            </svg>
            <span class="lang-name">English</span>
          </a>
        {% else %}
          <a href="/" class="lang-option" hreflang="fr" title="Basculer vers le site français">
            <svg class="flag-svg" viewBox="0 0 900 600" xmlns="http://www.w3.org/2000/svg">
              <rect width="900" height="600" fill="#ED2939"/>
              <rect width="600" height="600" fill="#fff"/>
              <rect width="300" height="600" fill="#002395"/>
            </svg>
            <span class="lang-name">Français</span>
          </a>
        {% endif %}
      {% endunless %}
    {% else %}
      {% comment %} Pour les pages statiques {% endcomment %}
      {% if current_lang == 'fr' %}
        {% comment %} Construire l'URL anglaise {% endcomment %}
        {% if page.url == '/' or page.url == '/index.html' %}
          {% assign en_url = '/en/' %}
        {% else %}
          {% assign en_url = page.url | prepend: '/en' %}
        {% endif %}
        <a href="{{ en_url }}" class="lang-option" hreflang="en" title="View this page in English">
          <svg class="flag-svg" viewBox="0 0 60 30" xmlns="http://www.w3.org/2000/svg">
            <clipPath id="s4"><path d="M0,0 v30 h60 v-30 z"/></clipPath>
            <clipPath id="t4"><path d="M30,15 h30 v15 z v15 h-30 z h-30 v-15 z v-15 h30 z"/></clipPath>
            <g clip-path="url(#s4)">
              <path d="M0,0 v30 h60 v-30 z" fill="#012169"/>
              <path d="M0,0 L60,30 M60,0 L0,30" stroke="#fff" stroke-width="6"/>
              <path d="M0,0 L60,30 M60,0 L0,30" clip-path="url(#t4)" stroke="#C8102E" stroke-width="4"/>
              <path d="M30,0 v30 M0,15 h60" stroke="#fff" stroke-width="10"/>
              <path d="M30,0 v30 M0,15 h60" stroke="#C8102E" stroke-width="6"/>
            </g>
          </svg>
          <span class="lang-name">English</span>
        </a>
      {% else %}
        {% comment %} Construire l'URL française {% endcomment %}
        {% assign fr_url = page.url | remove_first: '/en' %}
        {% if fr_url == '' or fr_url == '/' %}
          {% assign fr_url = '/' %}
        {% endif %}
        <a href="{{ fr_url }}" class="lang-option" hreflang="fr" title="Voir cette page en français">
          <svg class="flag-svg" viewBox="0 0 900 600" xmlns="http://www.w3.org/2000/svg">
            <rect width="900" height="600" fill="#ED2939"/>
            <rect width="600" height="600" fill="#fff"/>
            <rect width="300" height="600" fill="#002395"/>
          </svg>
          <span class="lang-name">Français</span>
        </a>
      {% endif %}
    {% endif %}
  </div>
</div>
