<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'fr' }}">

{% include head.html %}

<body class="antialiased bg-white text-black dark:bg-dark-bg dark:text-dark-text" itemscope itemtype="http://schema.org/Person">

  {% include header.html %}

  <main id="main-content" class="container mx-auto px-6 py-8">
    {{ content }}
  </main>

  {% include footer.html %}

  <script src="{{ '/assets/js/navigation.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/theme-switcher.js' | relative_url }}"></script>
  {% include analytics.html %}
</body>

</html>
